        <section id="abonment" class="abonment d-flex">
            <div class="container align-self-center">
                <h2 class="text-center text-secondary"><ins>Nos abonnements</ins></h2>
                <div class="text-center d-flex justify-content-around">
                    <div class="text-light bg-info rounded h-75 p-4 m-5 shadow border border-secondary">
                        <h3>Grartuit</h3>
                        <h4>0,00 € / mois</h4>
                        <p>
                            <ol class="text-justify">
                                <li>xx millions de titres</li>
                                <li>lecture aléatoire</li>
                                <span class="text-secondary">
                                <li><del>sans publicité</del></li>
                                <li><del>zap illimité</del></li>
                                <li><del>mode hors connexion</del></li>
                                <li><del>jusqu'a 5 profils</del></li>
                                </span>
                            </ol>
                        </p>
                        <button type="button" class="btn btn-warning shadow-sm">S'inscrire</button>
                    </div>
                    <div class="text-secondary bg-warning rounded h-75 p-4 m-5 shadow border border-secondary">
                        <h3>Prémium</h3>
                        <h4>9,99 € / mois</h4>
                        <p>
                            <ol class="text-justify text-light">
                                <li>xx millions de titres</li>
                                <li>lecture normale</li>
                                <li>sans publicité</li>
                                <li>zap illimité</li>
                                <li>mode hors connexion</li>
                                <li class="text-secondary"><del>jusqu'a 5 profils</del></li>
                            </ol>
                        </p>
                        <h4>2 mois gratuit</h4>
                        <button type="button" class="btn btn-info shadow-sm">J'en profite</button>
                    </div>
                    <div class="text-light bg-info rounded h-75 p-4 m-5 shadow border border-secondary">
                        <h3>Famille</h3>
                        <h4>14,99 € / mois</h4>
                        <p>
                            <ol class="text-justify">
                                <li>xx millions de titres</li>
                                <li>lecture normale</li>
                                <li>sans publicité</li>
                                <li>zap illimité</li>
                                <li>mode hors connexion</li>
                                <li>jusqu'a 5 profils</li>
                            </ol>
                        </p>
                        <h4>2 mois gratuit</h4>
                        <button type="button" class="btn btn-warning shadow-sm">J'en profite</button>
                    </div>
                </div>
            </div>
        </section>

