        <footer id="footer" class="bg-dark d-flex justify-content-around p-5">
            <div class="col-4 text-center">
                <figure>
                    <img src="/static/img/nav_img/SoundSystem_logo.png" width="70" alt="">
                </figure>
                <div class="text-light">
                    <button class="btn btn-lg rounded bg-primary text-light">
                        <i class="fa fa-facebook-f"></i>
                    </button>
                    <button class="btn btn-lg rounded bg-info text-light">
                        <i class="fa fa-twitter"></i>
                    </button>
                    <button class="btn btn-lg rounded bg-danger text-light">
                        <i class="fa fa-youtube"></i>
                    </button>
                </div>
            </div>
            <div class="col-8 d-flex justify-content-between text-light">
                <div class="col-sm-3 ">
                    <h4>Qui somme nous ?</h4>
                    <ul class="list-unstyled pl-3">
                        <li><a href="#" class="text-light">présentation</a></li>
                        <li><a href="#" class="text-light">le staff</a></li>
                        <li><a href="#" class="text-light">nous contacter</a></li>
                    </ul>
                </div>            
                <div class="col-sm-3 ">
                    <h4>Mentions légale </h4>
                    <ul class="list-unstyled pl-3">
                        <li><a href="#" class="text-light">open-source</a></li>
                        <li><a href="#" class="text-light">prendre connaissance</a></li>
                    </ul>
                </div>            
                <div class="col-sm-3 ">
                    <h4>Aide</h4>
                    <ul class="list-unstyled pl-3">
                        <li><a href="#" class="text-light">développeur</a></li>
                        <li><a href="#" class="text-light">questions</a></li>
                    </ul>
                </div>            
            </div>            
        </footer>
