        <section id="mobile_app" class="app d-flex bg-dark p-5 mt-0">
            <div class="container align-self-center">
                <h2 class="text-right text-light mb-5"><ins>Notre application mobile</ins></h2>
                <div class="d-flex justify-content-around mt-5">
                    <div class="app_img d-flex justify-content-around">
                        <figure class="mr-5">
                            <img src="/static/img/mobile_app/sound_system_kivyMD-LAUNCH_APP.png" width="200" height="auto" alt="">
                        </figure>
                        <div >
                            <figure>
                                <img src="/static/img/mobile_app/sound_system_kivyMD-LAUNCH_APP.png" width="100" height="auto" alt="">
                            </figure>
                            <figure>
                                <img src="/static/img/mobile_app/sound_system_kivyMD-LAUNCH_APP.png" width="100" height="auto" alt="">
                            </figure>
                        </div>
                    </div>
                    <article class="text-break text-light col-sm-6 text-center">
                        <h3>{{ obj_var["sd_title"] }}</h3>
                        <p class="text-justify">
                            le site et l’application sont tournés vers les musiciens, pour leur permettre de partager 
                            leurs morceaux gratuitement. Exit les Rihanna, Pink Floyd et comparses, <strong>{{ obj_var["sd_title"] }}</strong> est 
                            fait pour découvrir des artistes qui n’ont pas encore signé avec un label. Une sorte de
                            MySpace moderne, sans les photos et les sites moches. Le lecteur en ligne permet de voir
                            le morceau sous forme d’ondes, et de commenter des endroits précis du morceau. 
                            Indispensable à tous ceux qui souhaitent
                            découvrir les talents de demain, ils sont tous là, à vous de les dénicher !
                        </p>
                        <button class="btn btn-info shadow-lg border border-secondary">
                            Télécharger
                        </button>
                    </article>
                </div>
            </div>
        </section>

